<!DOCTYPE html>
</html>
    <head>
        <title>User</title>
        <!--<link href="/../css/style.css" rel="stylesheet">-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!--<script type="text/javascript" src="/../js/all.js"></script>-->
    </head>
    <body>
<!--        <div id="wrapper">
            <div class="page-header"><h2></h2></div>
            <div class="page-container">-->
